<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../static/css/cadastro.css">
</head>
<body>
    <form action="/confirmar_cadastro" method="post">{% csrf_token %}
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" required>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="{{login}}">
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha" value="{senha}">
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>
