{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cons_turma_lista.css' %}">
    <link rel="stylesheet" href="{% static 'css/cons_atividade_forms.css' %}">
    <title>Lista de Lista do professor</title>
</head>
<header class="login">
    <div class="fundo_menu">
        <div class="nome_sistema">
            Sistema de Apoio aos Professores
        </div>
    </div>
</header> 

<nav class="menu">
    <ul>
       <li><a href="/cad_turma/{{id_logado}}">Cadastrar Turmas</a></li>
       <li> | Turma logado: {{turma_logada}} | {{id_turma}} </a></li>
       <!-- ../accounts/logout -->
       <li><a href="/logout">SAIR</a></li>
    </ul>
</nav> 
     
<body onLoad="login();">
    <div class="principal">
    <div class="container">
        <section class="enquadramento">
            <h1>Atividades Cadastradas</h1>
        </section>
         {% if messages %}
            <ul class="mensagem_do_servidor" style="background: #7d7f81; padding: 24px; text-align:center; color: #fff;">
                {% for mensagem in messages %}
                   <li style="list-style: none;" {% if mensagem.tags %}class="alert alert-{{message.tags}}"{% endif %}>{{mensagem}}</li>
                {% endfor %}
            </ul>
         {% endif %}
        <input type="hidden"  name="id_turma_logado" id="id_turma_logado"  value="{{id_turma_logado}}" />
        <input type="hidden"  name="nome_logado" id="nome_logado"  value="{{usuario_logado}}" />
    
        <hr>

        <table>
            <tr>
                <th>Id_Atividade</th>
                <th>Atividade</th>
                <th>arquivo</th>

            </tr>
            
            {% for igs in lista_atividade %}
            <tr>
                <td style="text-align:center">{{igs.id}} </td>
                <td>{{igs.nome_atividade}}</td>
                {% if igs.arquivo %}
                <td><a href="{{igs.arquivo}}"><img src="{% static 'imagens/pasta.png ' %}" alt=""></td></a>
                {% endif %}

                
            </tr>

            {% endfor %}

        </table>

    </div>
    
        <form id="form" class="form" method="POST" action="{% url 'salvar_atividade_nova' id_turma_id=id_turma  %}" enctype="multipart/form-data">{% csrf_token %}

            <div class="form-content">

                
                <input type="text" id="nome_atividade" name="nome_atividade"  placeholder="Digite a atividade da turma" />
                <a>Nome deve ter no mínimo 3 caracteres</a>
                <input type="file" name="arquivo" id="arquivo" value="">
            </div>
            <div class="botoes">
                <div class="botao_confirmar">
                    <button type="submit" class="btn_conf_cancel btn_confirmar">Cadastrar</button>
                </div>
            </div>
    </form>
    </div>





</body>



</html>