/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imagens/background_image/qwe.png');
    background-position: center top;
    background-repeat: no-repeat;
    
   
   
   
}

/* Estilo para o cabeçalho */
header.login {
    background-color: #264F83;
    color: #fff;
    padding: 10px;
}

.fundo_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome_sistema {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

/* Estilo para a barra de navegação */
nav.menu {
    background-color: #2A6295;
    color: #fff;
    padding: 10px 0;
}

nav.menu ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav.menu ul li {
    display: inline;
    margin: 0 10px;
    color: #fff;
}

nav.menu ul li a {
    color: #fff;
    text-decoration: none;
}

nav.menu ul li a:hover {
    text-decoration: underline;
}

/* Estilo para a seção principal */
.principal {
    max-width: 800px;
    margin: 20px auto;
    background-color: #1b3e6b9f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    padding: 20px;
}

/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: #fff;
}

table th {
    background-color: #416A98;
    color: #fff;
}

/* Estilo para links na tabela */
    table a {
        text-decoration: none;
        color: #007bff;
    }

table a:hover {
    text-decoration: underline;
}

/* Estilo para mensagens do servidor */
.mensagem_do_servidor {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

/* Estilo para ícones */
.fa-trash, .fa-eye {
    color: #007bff;
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.fa-trash:hover, .fa-eye:hover {
    color: #0056b3;
}
